# 1.) Import the Credit Card Fraud Data From CCLE

In [2]:
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt
import numpy as np

In [3]:
drive.mount('/content/gdrive/', force_remount = True)

Mounted at /content/gdrive/

In [4]:
df = pd.read_csv("/content/gdrive/MyDrive/Econ441B/fraudTest.csv")

In [45]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [46]:
df.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

# 2.) Select four columns to use as features (one just be trans_date_trans)

In [209]:
df_select = df[["trans_date_trans_time", "category", "amt", "city_pop", "is_fraud"]]

In [131]:
df_select.columns

Index(['trans_date_trans_time', 'category', 'amt', 'city_pop', 'is_fraud'], dtype='object')

# 3.) Create a unique variable out of trans_date.

In [114]:
type(df["trans_date_trans_time"][0])

str

In [210]:
# Convert 'trans_date_trans_type' to datetime
df_select["trans_date_trans_time"] = pd.to_datetime(df_select["trans_date_trans_time"])

<ipython-input-210-aee1eab833a6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_select["trans_date_trans_time"] = pd.to_datetime(df_select["trans_date_trans_time"])

In [116]:
type(df_select["trans_date_trans_time"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [211]:
from datetime import datetime as dt

In [212]:
# Create a column of just the hour (in case it is needed later)
df_select["trans_time"] = df_select["trans_date_trans_time"].dt.time

<ipython-input-212-523d98b5db22>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_select["trans_time"] = df_select["trans_date_trans_time"].dt.time

In [119]:
df_select["trans_time"]

0         12:14:25
1         12:14:33
2         12:14:53
3         12:15:15
4         12:15:17
            ...
555714    23:59:07
555715    23:59:09
555716    23:59:15
555717    23:59:24
555718    23:59:34
Name: trans_time, Length: 555719, dtype: object

In [213]:
# Create dummy variable to identify whether the transaction occured between midnight and 4 am
a = dt.strptime('00:00:00', '%H:%M:%S').time()
b = dt.strptime('04:00:00', '%H:%M:%S').time()

res = (df_select['trans_date_trans_time'].dt.time >= a) & (df_select['trans_date_trans_time'].dt.time <= b)
df_select.insert(1, 'dummy', res)
df_select

,trans_date_trans_time,dummy,category,amt,city_pop,is_fraud,trans_time
0,2020-06-21 12:14:25,False,personal_care,2.86,333497,0,12:14:25
1,2020-06-21 12:14:33,False,personal_care,29.84,302,0,12:14:33
2,2020-06-21 12:14:53,False,health_fitness,41.28,34496,0,12:14:53
3,2020-06-21 12:15:15,False,misc_pos,60.05,54767,0,12:15:15
4,2020-06-21 12:15:17,False,travel,3.19,1126,0,12:15:17
...,...,...,...,...,...,...,...
555714,2020-12-31 23:59:07,False,health_fitness,43.77,519,0,23:59:07
555715,2020-12-31 23:59:09,False,kids_pets,111.84,28739,0,23:59:09
555716,2020-12-31 23:59:15,False,kids_pets,86.88,3684,0,23:59:15
555717,2020-12-31 23:59:24,False,travel,7.99,129,0,23:59:24
555718,2020-12-31 23:59:34,False,entertainment,38.13,116001,0,23:59:34

In [214]:
# Check to make sure dummy is correctly encoded
df_copy = df_select.copy()
df_copy.trans_date_trans_time = df_copy.trans_date_trans_time.dt.time

df_copy.groupby('dummy')['trans_date_trans_time'].agg(['min', 'max'])

            min       max
dummy
False  04:00:01  23:59:59
True   00:00:00  04:00:00

In [222]:
# Create dummies for factor variables
X = pd.get_dummies(df_select, columns = ["category", "dummy"]).drop(["trans_date_trans_time", "trans_time", "is_fraud"], axis =1)
y = df["is_fraud"]

In [223]:
X.head()

,amt,city_pop,category_entertainment,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,dummy_False,dummy_True
0,2.86,333497,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
1,29.84,302,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
2,41.28,34496,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
3,60.05,54767,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
4,3.19,1126,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0

# 4.) Oversample the data (this will be your training data).

In [321]:
resample_X = X
resample_y = y

# 5.) Train a Logistic regression.

In [311]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [322]:
# Standardization
scaler = StandardScaler()
X_normalized = scaler.fit_transform(resample_X)

In [323]:
# Fit logistic regression 
log_reg = LogisticRegression().fit(X_normalized, resample_y)

# 6.) The company you are working for wants to target at a False Positive rate of 5% what threshold should you use? (Use oversampled data)

ChatGPT: "What threshold to use to target a False Negative percentage of 5% in Python for logistic regression?"

In [315]:
from sklearn.metrics import confusion_matrix

In [325]:
# Predict probability of positive class for test data
y_pred_proba = log_reg.predict_proba(resample_X)[:, 1]

# Sort test data based on predicted probability of positive class
test_data = resample_X.copy()
test_data["y_pred_proba"] = y_pred_proba
test_data["y"] = resample_y
test_data = test_data.sort_values("y_pred_proba", ascending=False)

# Determine threshold that gives a False Negative percentage of 5%
false_negatives = 0
total = len(test_data)
for i, row in test_data.iterrows():
    y_pred = 1 if row["y_pred_proba"] > threshold else 0
    if y_pred == 0 and row["y"] == 1:
        false_negatives += 1
    if false_negatives / total >= 0.05:
        threshold = row["y_pred_proba"]
        break

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [326]:
# Threshold to target false negative percentage of 5%
threshold

0.7

# 7.) If the company makes .02*amt on True transactions and loses -amt on False (Use original data)

In [336]:
df_temp = df_select.copy()

In [337]:
df_temp["pred"] = log_reg.predict(resample_X)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [338]:
df_temp = df_temp[["pred", "is_fraud", "amt"]]

In [339]:
df_temp.head()

   pred  is_fraud    amt
0     0         0   2.86
1     0         0  29.84
2     0         0  41.28
3     0         0  60.05
4     0         0   3.19

Which combinations of "pred" and "if_fraud" do we profit 0.2*amt, which cases do we lose -amt?

In [367]:
# Create function to check whether the transaction is a true positive or a false negative
def check(pred, is_fraud, amt):
  if pred == 1 and is_fraud == 1:
    return amt*0.2
  elif pred == 0 and is_fraud == 1:
    return -1*amt
  else:
    return 0

# Create new column in dataframe to show the profit/loss for each transaction
df_temp['check'] = df_temp.apply(lambda x: check(x.pred, x.is_fraud, x.amt), axis = 1)

In [369]:
# Summation of the total profits and losses from true and false transactions respectively
df_temp.check.sum()

-558195.1600000001

# 8.) Using Logistic Regression Lasso to inform you. Would you use the selected features in a trusted prediction model?

In [370]:
from sklearn.datasets import load_iris

In [374]:
X,y = load_iris(return_X_y=True)
log = LogisticRegression(penalty='l1', solver = "liblinear")
log_lasso_model = log.fit(resample_X, resample_y)

In [375]:
log_lasso_model.coef_

array([[ 2.13938064e-03, -3.80340791e-07, -3.33655208e+00,
        -3.34054186e+00, -3.05688737e+00, -3.25810453e+00,
        -1.94522149e+00, -3.26331468e+00, -3.37837632e+00,
        -3.33364256e+00, -1.84620368e+00, -3.23804386e+00,
        -3.02841893e+00, -1.64263822e+00, -2.81516762e+00,
        -8.29538235e+00, -2.37414629e-01,  6.88515799e-01]])

In [377]:
resample_X.columns

Index(['amt', 'city_pop', 'category_entertainment', 'category_food_dining',
       'category_gas_transport', 'category_grocery_net',
       'category_grocery_pos', 'category_health_fitness', 'category_home',
       'category_kids_pets', 'category_misc_net', 'category_misc_pos',
       'category_personal_care', 'category_shopping_net',
       'category_shopping_pos', 'category_travel', 'dummy_False',
       'dummy_True'],
      dtype='object')

I would not use 'amt' or 'city_pop' in a prediction model. The variable 'dummy' which indicates whether the transaction took place between midnight and 4 am could potentially be useful to include. Out of the four features, 'category' seems to be the most important feature for predicting fraud.